.titulo-pagina{
    text-align: center;
    font-style: italic;
    font-size: 3em;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
    margin: 10px;
}

.nome-propriedade{
    font-size: 2em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    padding: 20px;
}

.valor-propriedade{
    font-size: 1.5em;
    font-weight: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    padding: 30px;
}

.bloco-1{
    background-color: aqua;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}
.bloco-2{
    background-color:red;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}
.bloco-3{
    background-color: lightpink;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-row{
    display: flex;
    flex-direction: row;
    /* indiferente*/
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}
.container-column{
    display: flex;
    flex-direction: column;
    /* indiferente*/
    background-color: yellow;
    padding: 16px;
    height: 500px;
}
.row-reverse{
    display: flex;
    flex-direction: row-reverse;
    /* indiferente*/
    background-color: green;
    padding: 16px;
    height: 500px;
}
.column-reverse{
    display: flex;
    flex-direction: column-reverse;
    /* indiferente*/
    background-color: blueviolet;
    padding: 16px;
    height: 500px;
}





